{
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "ApplicationError": false
  },
  "extends": [
    "cimpress-atsquad"
  ],
  "rules": {
    "spaced-comment": "off",
    "no-unused-expressions": "off"
  }
}
